<div class="container">
  <div class="row mt-lg-3 justify-content-lg-center">
    <div class="col-lg-6 text-center">
      <h2>Sign up</h2>
    </div>
  </div>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <form>
      <div class="form-row justify-content-lg-center">
        <div class="form-group col-lg-6">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class:"form-control" %>
        </div>
      </div>
      <div class="form-row justify-content-lg-center">
        <div class="form-group col-lg-6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>
      </div>
      <div class="form-row justify-content-lg-center">
        <div class="form-group col-lg-6">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>
      </div>
      <div class="form-row justify-content-lg-center">
        <div class="form-group col-lg-6">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <%= f.submit "Sign up", class:"btn btn-success btn-lg" %>
      </div>
    </form>
  <% end %>
</div>